<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<form action="../users/validate" method="post">
		<h2>LOGIN USER</h2>
		<table border="1">
			<tbody>
				<tr>
					<th>Email</th>
					<td><input type="email" name="email" required="required" /></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="password" required="required" />
					</td>
				</tr>
			</tbody>

			<tr>
				<td>
					<button type="submit">login</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>